<div class="container">
    <!-- <ng-template *ngFor="let booking of bookings"> -->

    <div *ngFor="let booking of bookings">
        <mat-card *ngFor="let hotel of booking.hotel">
            <mat-card-content>
               
               <h2> {{hotel.city}}</h2>
               <b> {{hotel.hotel}}</b>
               <p>Room Type : {{hotel.room_type}}</p>
               <p>Guest Allowed : {{hotel.guests_allowed}}</p>
            </mat-card-content>
        </mat-card>
       
       
    </div>
<!-- </ng-template> -->
</div>
